.App {
  text-align: center;
}

.red{
  margin: 1em;
  background-color: rgb(255, 194, 194);
  box-shadow: 0px 0px 10px  rgb(255, 100, 100);
  padding: 0.5em;
}
.yellow{
  margin: 1em;
  background-color: rgb(255, 244, 184);
  box-shadow: 0px 0px 10px rgb(199, 164, 8);
  padding: 0.5em;
}
.blue{
  margin: 1em ;
  background-color: rgb(201, 216, 230);
  box-shadow: 0px 0px 10px rgb(100, 100, 253);
  padding: 0.5em;
}
.box-center{
 max-width: 15em;
 margin:1em auto;
}
.pie{
  margin: auto;
  max-width: 500px;
}